:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --gris-dark:#8c8c8c;
    --gris: #adacac;
    --shinee:#5dc1b9;
    --shinee-ligth:#8ae0db;
    --amarillo:#e6a74a;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
  }
  body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;

  }
  .banner img{
    width: 100%;
}
.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:  20px 0px;
    font-weight: bold;
    width: 100%;
}
.description p{
    margin: 5px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    width: 100%;
    margin-bottom: 50px;
}
.main img{
    margin: 20px;
}
.album{
    width: 700px;
    border-radius: 20px;
}

.video-main{

    text-align: center;
}

.artist{
    width: 700px;
    border-radius: 20px;
    text-align: center;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: var(--black);
    position: fixed;
   bottom: 0;
   width: 100%;
}
footer img{
    width: 35px;
    height: 35px;
    margin: 10px;
    border-radius: 20px;
    background: var(--white);
}

@media (max-width: 641px) {
    .banner img{
        width: 100%;
    }

    .main img{
        width: 300px;
    }
    .artist{
        border-radius: 20px;
        text-align: center;
       width: 200px;
    }
    .album{
        width: 200px;
        border-radius: 20px;
    }
    iframe{

        width: 400px;
    }
    .main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap:wrap;
        width: 100%;
       margin-bottom: 50px;
    }
}